<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
  <%= render 'layouts/conf' %>
  </head>

  <body>
  <% if logged_in? %>
  <%= render 'shared/nav_logged' %>
  <%else%>
  <%= render 'shared/nav_notlogged' %>

  <%end%>
    <%= yield %>
  </body>
</html>
